html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

#large-grid {
  width: 700px;
  height: 700px;
}

#small-grid {
  width: 400px;
  height: 400px;
}

.grid {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.row {
  width: 100%;
  flex: 1;
  display: flex;
  margin-bottom: 2px;
}

.square {
  height: 100%;
  width: 100%;
  flex: 1;
  outline: black solid 2px;
  margin-left: 2px;
}
